<navbar></navbar>
<div class="homeBody">
    <form #registhationForm="ngForm" (ngSubmit)="getData()">        
        <mat-form-field>
          <mat-select placeholder="Select a location" [(ngModel)]="selectedValue" name="food">
            <mat-option *ngFor="let place of places" [value]="place.value">
              {{place.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button type="submit" class="getdata btn btn-lg btn-primary btn-block">Get Data</button>        
      </form>
      <br/>
      <span class='message' *ngIf="dispMessage">
        {{msg}}
      </span>     
      <span class='error'  *ngIf="dispMessage">{{error}}</span>   
      <span *ngIf="dispTable">
        <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>
      </span>
</div>