/*
Credits:
Code snippet by @maridlcrmn (Follow me on Twitter)
Images by Nike.com (http://www.nike.com/us/en_us/)
Logo by Sneaker-mission.com (http://www.sneaker-mission.com/)
*/

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  width: auto;
}

.nav-tabs {
 display: inline-block;
 border-bottom: none;
 padding-top: 15px;
 font-weight: bold;
}
.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
 border: none;
 border-radius: 0;
}

.nav-list { border-bottom: px solid #eee; }
.nav-list > li {
 padding: 20px 15px 15px;

}
.nav-list > li:last-child { border-right: 0px solid #eee; }
.nav-list > li > a:hover { text-decoration: none; }
.nav-list > li > a > span {
 display: block;
 font-weight: bold;
 text-transform: uppercase;
}

.mega-dropdown { position: static !important; }
.mega-dropdown-menu {
 padding: 20px 15px 15px;
 text-align: center;
 width: 100%;
}


#login-dp{
   min-width: 250px;
   padding: 14px 14px 0;
   overflow:hidden;
   background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
   font-size:12px
}
#login-dp .bottom{
   background-color:rgba(255,255,255,.8);
   border-top:1px solid #ddd;
   clear:both;
   padding:14px;
}
#login-dp .social-buttons{
   margin:12px 0
}
#login-dp .social-buttons a{
   width: 49%;
}
#login-dp .form-group {
   margin-bottom: 10px;
}
.btn-fb{
   color: #fff;
   background-color:#3b5998;
}
.btn-fb:hover{
   color: #fff;
   background-color:#496ebc
}
.btn-tw{
   color: #fff;
   background-color:#55acee;
}
.btn-tw:hover{
   color: #fff;
   background-color:#59b5fa;
}
@media(max-width:768px){
   #login-dp{
       background-color: inherit;
       color: #fff;
   }
   #login-dp .bottom{
       background-color: inherit;
       border-top:0 none;
   }
}
.navbar-login
{
   width: 305px;
   padding: 10px;
   padding-bottom: 0px;
}

.navbar-login-session
{
   padding: 10px;
   padding-bottom: 0px;
   padding-top: 0px;
}

.icon-size
{
   font-size: 87px;
}



/*.navbar-nav {
   padding-left: 15px;
}*/
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
   border-color: #00486c;
}
.container-fluid {
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;
   background-color: rgb(51,79,111);
}





/*.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
   color: white;
   background-color: #428bca;

}*/

.navbar-default .navbar-nav>li>a {
   color: white;
}



.nav-list > li {
   padding: 20px 15px 15px;
   border-left:0px;
   }


.nav-list {
   border-bottom: 0px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
   color: white;
   cursor: default;
   background-color: #428bca;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
   color: black;
   cursor: default;
   background-color: rgb(255, 255, 255);
   border: solid black 1px;
}

.navbar-nav>li>.dropdown-menu {
	z-index: 9999;
}

.navbar-nav>li>.active {

    font-weight: bold;
    text-decoration: underline;
}

#heading{
    color: #fff !important;
    padding-left: 0.5em;
    font-size: 2.5em;
}
