.homeBody{
    margin-top: 1em !important; 
    text-align: center !important;
    align-content: center !important;
    position: relative;
    height: 530px !important;
  }
  
  .error{
    font-size: 2em;
    color: red;
  }
  
  .message{
    color: #ffcc00;
    font-size: 2em;
  }
  
  .getdata{
    width: 6em;
  }
  
  .datatable{
    margin: 1em;
    text-align: center !important;
    align-content: center !important;
  }
  
  td{
    padding: 1em;
  }
  
  spinner {
    border-color: #ffcc00 rgba(79, 106, 167, 0.1) rgba(79, 106, 167, 0.1) !important;
  }

  .low, .not-congested{
    color: green;
  }

  .medium{
    color: #ffcc00;
  }

  .high, .congested{
    color: red;
  }

  .currentTable{
    text-align: center;
    width: 100%;
  }

  .congestionType{
    font-weight: bold;
  }

  .currentTable table{
    margin: 0px auto;
  }

  .buttonPress{    
    background-color: #4932B3;
    color: #fff;
    padding: 1em 2em;
  }

  .dwld_btn{
    float: right;
    padding-right: 2em;
    font-size: 1em;
  }